<div class="row">
  <div class="col-6">
    <div class="register-box">
      <div class="card card-outline card-secondary">
        <div class="card-header text-center">
          <p class="h1"><b>Medico</b></p>
        </div>
        <div class="card-body">
          <form [formGroup]="medicoForm" (submit)="guardarMedico()">
            <div class="input-group mb-3" *ngIf="medicoSeleccionado">
              <img class="w200" [src]="medicoSeleccionado.img | imagen: 'medicos' " alt="">
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label>Hospitales</label>
              <select class="form-control" formControlName="hospital">
                <option value="">Seleccione Hospital</option>
                <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{hospital.nombre}}</option>

              </select>
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-secondary float-right" [disabled]="medicoForm.invalid"><i
                  class="fa fa-save"></i> Guardar
                cambios</button>
            </div>
            <!-- /.col -->

          </form>

        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
  </div>
  <div class="col-6">
    <div class="register-box">
      <div class="card card-outline card-secondary">
        <div class="card-header text-center">
          <p class="h3"><b>Hospital Asignado</b></p>
        </div>
        <div class="card-body animate__animated animate__fadeIn" *ngIf="hospitalSeleccionado">
          <div class="card-title mb-3"><b>Nombre:</b> {{hospitalSeleccionado.nombre}}</div>
          <form action="../../index.html" method="post">
            <div class="input-group mb-3">
              <img class="card-img-top rounded mx-auto d-block" [src]="hospitalSeleccionado.img | imagen: 'hospitales'"
                alt="">
            </div>

            <!-- /.col -->

          </form>

        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
  </div>

</div>