<div class="fondo-modal-imagen animate__animated animate__fadeIn" [class.oculto]="modalImagenService.ocultarModal">

  <div class="modal fade show" id="modal-default" style="display: block; padding-right: 17px;" aria-modal="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Cargar Imagen</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <img *ngIf="!imgTemp" class="profile-user-img img-fluid img-circle" [src]="modalImagenService.img"
              alt="User profile picture">
            <img *ngIf="imgTemp" class="profile-user-img img-fluid img-circle" [src]="imgTemp"
              alt="User profile picture">
          </div><br>

          <div class="form-group">
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="exampleInputFile"
                  (change)="cambiarImagen($event.target.files[0])">
                <label class="custom-file-label" for="exampleInputFile">{{imgName}}</label>
              </div>
            </div><br>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal"
                (click)="cerrarModal()">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="subirImagen()" [disabled]="!imagenSubir">Actualizar
                imagen</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

    </div>