<div class="container-fluid  animate__animated animate__fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="input-group">
            <input class="form-control" type="text" #txtTermino (keyup)="buscar(txtTermino.value)" name=""
              placeholder="Buscar Usuario">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="cargando">
    <div class="col-12">
      <div class="alert alert-info text-center">
        <h4 class="alert-heading">Cargando</h4>
        <i class="fas fa-spin fas fa-sync fa-2x"></i>
        <p class="mb-0">Por favor espere</p>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!cargando">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Usuarios Registrados <b>{{totalUsuarios}}</b></h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive">
          <table class="table table-hover text-center text-nowrap">
            <thead>
              <tr>
                <th class="w100">#</th>
                <th class="w100">Avatar</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th>Role</th>
                <th class="w100">Auth</th>
                <th class="w100">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios; let i = index;">
                <td>{{desde + (i+1)}}.</td>
                <td class="text-center">
                  <img class="avatar cursor" [src]="usuario.imagenUrl" alt="Avatar de usuario"
                    (click)="abrirModal(usuario)">
                </td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.nombre}}</td>
                <td>
                  <select class="form-control" [(ngModel)]="usuario.role" (change)="cambiarRole(usuario)">
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td>
                <td>
                  <span class="badge bg-danger" *ngIf="usuario.google">Google</span>
                  <span class="badge bg-primary" *ngIf="!usuario.google">Email</span>
                </td>
                <td>
                  <a (click)="eliminarUsuario(usuario)" class="text-danger btnActions" title="borrar"><i
                      class="fas fa-trash-alt"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix" *ngIf="txtTermino.value.length === 0">
          <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><button class="btn btn-outline-secondary mr-1" (click)="cambiarPagina(-5)"
                style="cursor: pointer;"><i class="fas fa-angle-left"></i> Anterior</button></li>

            <li class="page-item"><button class="btn btn-outline-secondary" (click)="cambiarPagina(5)"
                style="cursor: pointer;">Siguiente <i class="fas fa-angle-right"></i></button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>